body{
    margin: 0;
    padding: 0;
}
nav{
    display: block;
    text-align: right;
    margin: 2em;
}
ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}
ul li a{
    text-decoration: none;
    color: rgb(22, 17, 17);
    padding: 0.8em;
}

#usr{
    color:#fff;
    background-color: rgb(174, 181, 187);
    border-radius: 50%;
}
#logo{
    text-align: center;
}
form{
    text-align: center;
}
#txt-form{
    width: 30%;
    margin: 2em;
    padding: 1em;
    border-radius: 25px;
    border: rgb(173, 172, 172) 2px solid;
}
button{
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
#language{
    margin: 2em;
    text-align: center;
    text-decoration: none;
}
#language a{
    text-decoration: none;
    padding: 0.3em;
}
#foot{
    background-color:#e9e3e3;
    position: absolute;
    bottom: 1px;
    width: 100%;
}
#country{
    border-bottom: #c4bfbf solid 1px;
}


#foot1 a,#foot2 a{
     text-decoration: none;
    color: rgb(22, 17, 17);
    padding: 0.8em;
}
#foot2{
    text-align: right;
    padding-top: -6em;
}

#foot a:hover{
    text-decoration: underline;
}